<footer>
	<div class="container">
		<div class="col"></div>
		<div class="col">
			<ul class="socials">
				<li>
					<svg class="bi" width="32" height="32" fill="currentColor">
						<use xlink:href="{{ theme.link  }}/node_modules/bootstrap-icons/bootstrap-icons.svg#github"/>
					</svg>
				</li>
				<li>
					<svg class="bi" width="32" height="32" fill="currentColor">
						<use xlink:href="{{ theme.link  }}/node_modules/bootstrap-icons/bootstrap-icons.svg#linkedin"/>
					</svg>
				</li>
				<li>
					<svg class="bi" width="32" height="32" fill="currentColor">
						<use xlink:href="{{ theme.link  }}/node_modules/bootstrap-icons/bootstrap-icons.svg#linkedin"/>
					</svg>
				</li>
			</ul>
		</div>
	</div>
</footer>
