{% extends 'templates/base/base.twig' %}
{% block body %}
	<div class="text-center">
		<h1 class="mb-5">This page doesn't exist.</h1>

		<p class="mb-5">To make us forgive you, here is a cat's gif.</p>

		<img class="img-fluid" src="https://cataas.com/cat/gif" alt="">
	</div>

{% endblock %}
